
:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --ter1: #FEBA17;
    --ter2: #74512D;
    --red: red;
    --green: rgb(9, 138, 89);
    --blue: rgb(0, 191, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: var(--pri);
    font-family: aeonik;

}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 115%;
    width: 100%;
    background-color: var(--sec);
    padding-top: 100px;

}



section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;

    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    position: relative;
    margin-top: -30px;

}

.allElems header{
    height: 280px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-color: var(--ter2);
    margin-bottom: 10px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:35px 50px;
    margin-bottom: -15px;
}

header .header1 h1{
    font-size: 100px;
    font-weight: 500;
}

header .header1 h4{
    font-size: 100px;
    font-weight: 500;
}

header .header2 h2{
    font-size: 60px;
    font-weight: 500;
}

header .header2 h4{
    font-size: 30px;
    font-weight: 500;
}

header .header2 h3{
    font-size: 25px;
    font-weight: 500;
}

.allElems .allFeatures{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 45px;
}

.elem{
    background-color: #FEBA17;
    height: 340px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100vh;
    width: 100vw;
    background-color: #4E1F00;
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;

    top: 0;
    /* left: 0; */
    z-index: 999;   
}

.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}



.todo-list-fullpage h2{
    font-size: 60px;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: var(--ter2);
    height: 100%;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--ter2);
    height: 100%;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
}

.todo-list-fullpage .todo-container .addTask form input#task-input{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-list-fullpage .todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-list-fullpage .todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--ter1);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
    margin-bottom: 20px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
}

.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--ter2);
    height: 100%;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
    gap: 10px;
    overflow: auto;

}

.task{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 20px 40px;
    border-radius: 10px;
}

.task h5{
    color: var(--sec);
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

.task h5 span{
    background-color: red;
    color: var(--pri);
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 20px;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 15px 30px;
    color: var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.task button:active{
    scale: 0.96;
}

.mark-imp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;
    /* background-color: red; */
    width: 100%;
    gap: 30px;

}

.mark-imp input{
    scale: 2;
}

.mark-imp label{
    font-size: 20px;
}


.daily-planner-fullpage h2{
    font-size: 60px;
}

.daily-planner-fullpage .day-planner{
    background-color: var(--ter2);
    height: 85%;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;

}

.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 2%;
    color: var(--ter1);
    font-size: 18px;
}

.day-planner .day-planner-time input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 30px;
    padding-top: 30px;
    outline: none;
}

/*  */


.motivation-fullPage-container{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.motivational-fullpage .motivation-container{
    height: 400px;
    width: 80%;
    border-radius: 50px;
    position: relative;
}

.motivational-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--ter1);
    border-radius: 50px;
    scale: 1.15;
    z-index: 8;
    -webkit-filter: blur(150px);
            filter: blur(150px);
}

.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    
    width: 100%;
    background-color: var(--ter1);
    border-radius: 40px;
    padding: 15px;

}

.motivation-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.motivation-1 h2{
    
    background-color: var(--ter2);
    padding: 30px;
    border-radius: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
    font-weight: 500;
    text-align: right;

}

.motivation-2{
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.motivation-2 h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--sec);
}

.motivation-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

}

.motivation-3 h2{
    background-color: var(--ter2);
    padding: 30px;
    border-radius: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
    font-weight: 500;
    text-align: right;

}

.motivational-fullpage .motivation-container .motivation-wrapper img{
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.2;
    height: 120px;
}




.pomodoro-fullpage h2 {
    font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 170px;
}

.pomo-timer button {
    background-color: var(--tri2);
    padding: 15px 40px;
    font-size: 32px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 7px 7px 0px black;
            box-shadow: 7px 7px 0px black;
    box-shadow: 7px 7px 0px black;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    
    font-weight: 700;
}

.pomo-timer button:active {
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;

}

.pomodoro-fullpage .session {
    position: absolute;
    top: 18%;
    left: 50%;
    
    -webkit-transform: translate(-50%, 0);
    
        -ms-transform: translate(-50%, 0);
    
            transform: translate(-50%, 0);
    background-color: green;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
}

.daily-goals-fullpage {
    /* display: block; */
    padding: 30px;
}

.goals-progress-card h3{
    font-size: 60px;
}



.goals-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

/* LEFT CARD */
.goals-progress-card {
    width: 340px;
    background: var(--ter2);
    color: black;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
}

.goals-progress-card h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 15px;
}

.circle span {
    font-size: 22px;
    font-weight: 600;
}

/* RIGHT CARD */
.goals-main-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: var(--ter2);
    padding: 25px;
    border-radius: 16px;
}

.add-goal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-goal input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 12px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.add-goal button {
    width: 45px;
    border-radius: 10px;
    border: none;
    background: #111;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.goals-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
}

.goal-item {
    background: var(--sec);
    padding: 14px 16px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.goal-item.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.goal-item button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

nav{
    position: fixed;
    z-index: 99;
    top: 0;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    
    padding: 10px 40px;
}

.nav-in{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ter2);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-in{
    font-size: 20px;
    font-weight: 700  ;
}

.theme{
    
    background-color: --pri;
    padding: 10px 17px;
    border-radius: 10px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;

}

.theme button{
    color: var(--pri);
    font-weight: 700;
    font-size: 25px;
    pointer-events: none;
    background-color: var(--sec);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

.theme:active{
    scale: 0.96;
}