:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --ter1:#FEBA17;
    --ter2:#74512D;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--pri);
    font-family: aeonik;

}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ter2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;

}

.elem{
    background-color: #FEBA17;
    height: 340px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #4E1F00;
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}